.top-bar {
  background-color: #414143;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.2% 1% 1.2% 1%;
}

.sign-in {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 14%;
}

.sidebar-user {
  border: 1px red solid;
  width: fit-content;
}

.welcome {
  padding: 1.3% 1% 1.3% 4%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  width: auto;
}

.my-garage {
  width: 6.5em;
  margin: .6% .2% .6% .2%;
}

.sidebar-menu {
  border: 1px red solid;
  width: fit-content;
}

h5 {
  margin: 3%;
}

.side-toggle {
  margin: 1% 2% 4% 2%;
}

.user-car {
  border: 1px red solid;
}

.car-make {
  margin: 2%;
  width: 90%;
}

.car-model {
  margin: 2%;
  width: 90%;  
}

.car-year {
  margin: 2%;
  width: 90%;
}

.search-car {
  margin: 1.4%;
}

.repair-options {
  margin-left: 1%;
}

.odd {
  background-color: #EEEEEE;
  margin: 0;
  padding: 5%;
}

.odd:hover {
  background-color: #ddd;
}

.even {
  background-color: #F9F9F9;
  margin: 0;
  padding: 5%;
}

.even:hover {
  background-color: #ddd;
}