/* Root */


/* Header */
.top-bar {
  background-color: #414143;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1.2% 1% 1.2% 1%;
  height: 150px;
}

/* Unlatch Logo */
.logo {
  outline: none; 
  justify-content: center;
  align-items: flex-start;
  margin-right: 750px; 
}

/* Sign in buttons Login/Logout/Register */
.sign-in {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 15%;
  margin-top: 50px;
}

/* Sign up button */
.sign-up { 
  outline: none; 
  text-align: center; 
  background-color: whitesmoke; 
  border: none; 
  border-radius: 4px; 
  height: 50px;
}

.sign-up:hover { 
  background-color: white;
  outline: none; 
}

/* Login Button */
.login { 
  outline: none;
  border: none;
  background-color: whitesmoke;  
  border-radius: 4px; 
  height: 50px;
}

.login:hover { 
  outline: none;
  background-color: white; 
}

/* Logout Button */
.logout { 
  outline: none;
  border: none;
  background-color: whitesmoke;
  border-radius: 4px;   
  height: 50px;
}

.logout:hover {
  outline: none; 
  border: none; 
  background-color: white; 
}

.sidebar-user {
  border: 1px red solid;
  width: fit-content;
}

.welcome {
  padding: 1.3% 1% 1.3% 4%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  width: auto;
}

.my-garage {
  width: 6.5em;
  margin: .6% .2% .6% .2%;
}

.sidebar-menu {
  border: 1px red solid;
  width: fit-content;
}

h5 {
  margin: 3%;
}

.side-toggle {
  margin: 1% 2% 4% 2%;
}

.user-car {
  border: 1px red solid;
}

.car-make {
  margin: 2%;
  width: 90%;
}

.car-model {
  margin: 2%;
  width: 90%;  
}

.car-year {
  margin: 2%;
  width: 90%;
}

.search-car {
  margin: 1.4%;
}

.repair-options {
  margin-left: 1%;
}

.odd {
  background-color: #EEEEEE;
  margin: 0;
  padding: 5%;
}

.odd:hover {
  background-color: #ddd;
}

.even {
  background-color: #F9F9F9;
  margin: 0;
  padding: 5%;
}

.even:hover {
  background-color: #ddd;
}


.logout_btn {
  outline: none; 
  display: flex;
  border-color: transparent;
  text-align: center; 
  background-color: #ff4040; 
  border: none; 
  border-radius: 4px; 
  height: 50px; 
  align-items: flex-end;
}

.project-button { 
  outline: none; 
  border-color: transparent;
  text-align: center;
  display: flex;  
  background-color: grey; 
  border: none; 
  border-radius: 8px; 
  height: 75px; 
}

.footer { 
  width: 100%; 
  height: 100px;
}

/* Landing  */

.landing { 
  background-image: url("images/alex-suprun-AHnhdjyTNGM-unsplash.jpg");
  height: 1000px;
  background-size:     cover;              
  background-repeat:   no-repeat;
  background-position: center center;      
  text-align: center;
  color: white; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.wilkomen { 
  font-size: 75px; 
  outline: none; 
  border: transparent;
}

.ref-login { 
  color: white; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 25px; 
}

.ref-login:hover {
  color: white; 
}

.ref-logout { 
  color: white; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 25px; 
}

.ref-logout:hover { 
  color: white; 
}