.user-garage {
  margin-left: 2em;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 71px);
  overflow: hidden;
  position: relative;
}

.landing img{
  display: -webkit-inline-box;
  height:100vh;
width:auto;
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
  filter:opacity(0.4);
}

.wilkomen {
  text-align: center;
  font-weight: 700;
  color: #343A41;
}

.ref-login,
.ref-register {
  width: 90%;
  margin: 3% 0;
}

.landing button a {
  color: white;
}

.form-label {
  margin: 3.5% 5% 1.5% 8%;
}

#username.form-control {
  width: 90%;
  margin: auto;
}

#email.form-control {
  width: 90%;
  margin: auto;
  }

#password.form-control {
  width: 90%;
  margin: auto;
  }

.register .submit-btn,
.login .submit-btn {
  box-sizing: border-box;
  width: 60%;
}

.login-buttons {
  padding: 5% 5% 0;
  display: flex;
  justify-content: space-between;
}

.login h2, .register h2 {
  padding: 5% 5% 0;
  text-align: center;
}

.register-back-btn,
.login-back-btn {
  box-sizing: border-box;
  width: 25%;
}


#welcome {
  margin: 3.5% 5% 1.5% 9%;
}

#dropdown-basic {
  margin: 1% 1% 1% 7%;
}

#makes {
  width: 90%;
  margin: auto;
}

#models {
  width: 90%;
  margin: auto;
}

#welcome {
  text-align: center;
}

.add_vehicle_btn {
  margin: 2.2% 1% 1.7% 7%;
}

.add_vehicle_back_btn, 
.head-label {
  margin: 1.7% 1% 1.7% 7%;
}

.vehicle_select.form-control {
  width: 90%;
  margin: auto;
  font-weight: 700;
}

.current_vehicle_title {
  text-align: center;
}

.which-project {
  text-align: center;
  margin: 0;
}

.my-project-label,
.my-vehicle-label {
  font-size: 125%;
}


#project_select_form.form-control {
  width: 90%;
  margin: auto;
  font-weight: 700;
}

.card {
  margin: auto;
  margin-bottom: 3%;
}

.project_label {
  text-align: center;
  margin: 2.5% 0%;
}

.selected_project_page {
  width: 90%;
  margin: auto;
}

.instructions_label {
  margin-left: 2.5%;
}

.btn-dark.list-group-item {
  margin: 1% 0%;
}

.footer{
  position: absolute;
  top:100vh;
  transform:translateY(-120%);
  right:5%;
  text-align:right;
}